#preloadProgress
{
	font-style: bolder;
}

#preloadProgress.hidden
{
	visibility: hidden;
}

#preloadProgress.error
{
	visibility: visible;
	color: red;
}
#preloadProgress.inProgress
{
	visibility: visible;
	color: orange;
}

#preloadProgress.done
{
	visibility: visible;
	color: green;
}