body{
    margin: 0;
    background-color: #29293d;
}

#topNav{
    background-color: #333333;
    overflow: hidden;
    height: 50px;
}

#topNav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
}

#player{
    margin: 5px;
    border: 1px solid black;
    height: 90vh;
}
