video::-webkit-media-controls-play-button
{
	display: none;
}

video::-webkit-media-controls-fullscreen-button
{
    display: none;
}

.controls
{
	height: 5%;
	background: rgb(0, 0, 0, 0);
	color: white;
	border: none;
	outline: none;
	font-size: 1.5em;
}

#seekSlider
{
	display: "none";
	width: 100%;
	padding: 0;
	margin: 0;
}