<html>
	<head>
		<meta charset="utf-8">
		<title>GhostSync Lobby</title>
		<!--Dependencies-->
		<link rel="stylesheet" href="/styles.css"/>
		<link rel="stylesheet" href="/components/loader/loader.css"/>
		<script src="/config.js"></script>
		<script src="/libraryRoot.js"></script>
		<script src="/components/lobby/videoBrowserControl.js"></script>
		<script src="/components/lobby/onload.js"></script>
		<script src="/components/lobby/videoSyncControl.js"></script>
		<script src="/components/lobby/userControl.js"></script>
		<script src="/components/loader/loader.js"></script>
		<!--<script src="/components/lobby/whoami.js"></script>-->
		
	</head>
	<body>
		<input type="hidden" id="currentDirectory" value="/"></input>
		<input type="hidden" id="lobbyName" value="DefaultLobby"></input>
		<input type="hidden" id="serverTime" value=""></input>
		<input type="hidden" id="playState" value=""></input>
		<input type="hidden" id="filePath" value=""></input>
		<div id="topNav">
			<a href="/index.html" id="home">GhostSync</a>
			<a>&nbsp;&nbsp;|&nbsp;&nbsp;</a>
			<a href="javascript:videoBrowserButton();">Video Browser</a>
		</div>
		<div id="player">
			<h3 id="nowPlaying">Nothing Is Playing Yet..</h3>
			<video id="video" controls>
				<source id="videoSource">
			</video>
		</div>
		<div id="users">
			<h3>Users In Lobby</h3>
			<div id="loader"><div id="loader"><div id='spinner'><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
			<ul id="userList">
			
			</ul>
		</div>
		<div id="browser">
			<button onclick="goBack()">Up</button>
			<div id="videoBrowser">
			
			</div>
		</div>
		<div id="debug" style="display:none"></div>
	</body>
</html>
