<html>
	<head>
		<meta charset="utf-8">
		<title>GhostSync Lobby</title>
		<!--Dependencies-->
		<link rel="stylesheet" href="/styles.css"/>
		<script src="/libraryRoot.js"></script>
		<script src="/components/lobby/videoBrowserControl.js"></script>
		<script src="/components/lobby/onload.js"></script>
		<script src="/components/lobby/videoSyncControl.js"></script>
		
	</head>
	<body>
		<input type="hidden" id="currentDirectory" value="/"></input>
		<input type="hidden" id="lobbyName" value="TestLobby"></input>
		<input type="hidden" id="serverTime" value=""></input>
		<input type="hidden" id="playState" value=""></input>
		<input type="hidden" id="filePath" value=""></input>
		<div id="topNav">
			<a href="index.html" id="home">GhostSync</a>
		</div>
		<div id="player">
			<video id="video" controls autoplay>
				<source id="videoSource">
			</video>
		</div>
		<button onclick="updateServerTimeStamp();">Update</button>
		<button onclick="syncVideo();">Sync</button>
		<button onclick="goBack()">Up</button>
		<div id="videoBrowser">
		
		</div>
	</body>
</html>
