/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #29293d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

input
{
	border-radius: 5px;
	padding-left: 5px;
	font-size: 1.5em;
	margin: 10px;
}

span
{
	color: white;
}

#nowPlaying
{
	font-size: 1.5em;
	height: 4%;
}

#joinArea
{
	margin-top: 200px;
	background-color: #4f4f4f;
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

#joinArea input, #joinArea span, #joinArea button
{
	display: inline;
	font-size: 1em;
	width: auto;
	margin-left: 5%;
	padding: 10px;
}

#joinArea input
{
	font-size: 1em;
	padding: 10px;
}

#joinArea span
{
	font-size: 1.5em;
}

#joinArea button
{
	font-size: 1.5em;
	margin: 10px;
}

h3
{
	color: white;
	font-size: 1em;
}

#users h3
{
	font-size: 1.25em;
}

#player
{
	float: left;
	width: 65%;
}

.widescreenVideo
{
	height: auto;
	margin-top: 0px;
}

.widescreenVideo_fullscreen
{
	height: auto;
	margin-top: 140px;
}

.fullVideo
{
	margin-top: 0px;
}

.fullVideo_fullscreen
{
	margin-top: 0px;
	height: 100%;
}

.standardVideo
{
	height: 500px;
}

.standardVideo_fullscreen
{
	height: 100%;
}

#users
{
	float: left;
	width: 34%;
	height: 60%;
	overflow: auto;
}

#users ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #d3d3d3;
}

#userList li
{
	padding: 10px;
	font-size: 1.5em;
	background: rgb(0, 0, 0, .1);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 80%;
}

#browser
{
	display: none;
	position: fixed;
	background: rgba(79, 79, 79, 0.7);
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
	text-align: left;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	overflow: auto;
	height: 80%;
	margin-top: 0px;
	z-index: 100;
}

.videoBrowserVideo
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	padding: 3px;
	margin: 5px;
	border-radius: 5px;
	transition: .25s;
}

.videoBrowserDir
{
	text-decoration: none;
	color: #0090e3;
	font-size: 1.5em;
	padding: 3px;
	margin: 5px;
	border-radius: 5px;
	transition: .25s;
}

#browser a:hover
{
	background-color: gray;
}

#browser button
{
	padding: 5px;
	width: 100%;
	font-size: 1.25em;
	margin-bottom: 10px;
}

video
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	outline: none;
	height: 70%;
}

#youtubePlayer
{
	display: none;
}

body{
    margin: 0;
    background-color: #29293d;
	text-align: center;
	font-family: arial;
	overflow: auto;
}

#topNav{
    background-color: #333333;
    overflow: hidden;
    height: 50px;
}

#topNav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
	transition: .25s;
	margin-left: 5px;
	margin-right: 5px;
}

.divider
{
	float: left;
	width: 5px;
	vertical-align: center;
	display: block;
	width: 5px;
	height: 100%;
	text-align: center;
	font-size: 2em;
	background-color: gray;
	border-radius: 5px;
}

.navButton:hover{
    background-color: gray;
	border-radius: 20px;
}

.defaultButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	margin-bottom: 5px;
}
.defaultButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.defaultButton:active {
	position:relative;
	top:1px;
}

#auth
{
	display: none;
	position: fixed;
	background: rgba(79, 79, 79, 0.7);
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	overflow: visible;
	height: auto;
	margin-top: 50px;
}

#auth button
{
	font-size: 1.5em;
}

#auth > span
{
	font-size: 1.5em;
}

#authTip
{
	font-size: .4em;
}

#buildInfo
{
	position: fixed;
	bottom: 0;
	width: 95%;
	text-align: right;
	padding: 5px;
	margin-right: 5%;
	font-size: 1em;
}
