#youtubeMenu
{
	display: none;
	position: fixed;
	background: rgba(79, 79, 79, 0.85);
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	overflow: auto;
	height: auto;
	margin-top: 0px;
}

#youtubeMenu span, #youtubeMenu input, #youtubeMenu button
{
	font-size: 2em;
	float: left;
	display: inline-block;
	clear: none;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	position: relative;
	transform: translateY(-50%);
}

#youtubeMenu span
{
	width: 25%;
	margin: 10px;
	margin-left: 0;
	padding-right: 0;
}

#youtubeMenu input
{
	width: 40%;
	margin: 10px;
	font-size: 1.5em;
}

#youtubeMenu button
{
	width: 10%;
	margin: 10px;
	font-size: 1.5em;
}

#youtubeMenu  button:first-of-type
{
	width: 15%;
}

.youtubeNormal
{
	width: 100%;
	height: 390;
}

.youtubeFull
{
	width: 100%;
	height: 100%;
}