#queueArea span
{
	color: white;
	font-size: 1.2em;
	padding: 5px;
	z-index: -1;
}

#queueArea hr
{
	height: 2px;
	background-color: gray;
	border: none;
}

#queueArea
{
	visibility: hidden;
	display: block;
	float: right;
	position: relative;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: none;
	border-right: none;
	border-radius: 10px;
	text-align: left;
	width: 34%;
	height: 20%;
	padding: 5px;
	overflow: hidden;
	margin-left: 0;
}

#queue
{
	position: relative;
	display: block;
	overflow: auto;
	height: 60%;
}

#queueArea a
{
	text-decoration: none;
	color: gray;
	font-size: 1em;
	padding: 3px;
	margin: 10px;
	border-radius: 5px;
	transition: .25s;
}

.addToQueue
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	background-color: #326785;
	padding: 0px;
	margin: 0px;
	border: 1px solid white;
	border-radius: 5px;
	transition: .25s;
	padding-left: 10px;
	padding-right: 10px;
}

#queueArea a:hover
{
	background-color: gray;
	color: white;
}