.emojiElement
{
	text-decoration: none;
	font-size: 2em;
}

#reactionPanel
{
	display: block;
	position: absolute;
	text-align: center;
	overflow: none;
	z-index: 100;
	left:60%;
	top: 15%;
	padding: 0;
	overflow: hidden;
	width: 400px;
	height: 500px;
	font-size: 3em;
	pointer-events: none;
}

.reactionElement
{
	padding: 10px;
	/*font-size: 3em;*/
	background: rgb(0, 0, 0, .5);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 80%;
	color: white;
	animation-name: reaction-in;
	animation-duration: .2s;
}

@keyframes reaction-in
{
	from
	{
		opacity: 0;
		transform: scale(0);
	}
	to
	{
		opacity: 1;
		transform: scale(1);
	}
}

#reactionsToggle
{
	margin-top: 0;
    margin-bottom: 20px;
    transform: scale(2.5);
}

#addFavoriteButton
{
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid black;
	border-radius: 5px;
}

#removeFavoriteButton
{
	padding-left: 9px;
	padding-right: 9px;
	border: 1px solid black;
	border-radius: 5px;
}

#reactionMenuContainer
{
	display: none;
	position: absolute;
	background: rgba(79, 79, 79, 0.85);
	border-radius: 5px;
	border: 1px solid white;
	text-align: center;
	overflow: auto;
	z-index: 100;
	left:40%;
	top: 60%;
	padding: 0;
	overflow: hidden;
	width: 280px;
	height: 160px;
	/*
	height: 35%;
	width: 35%;
	*/
}

#reactionMenuTop
{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	text-align: right;
}

#reactionMenuTop span
{
	font-weight: bolder;
	margin-left: 5px;
	
}

#closeReactionMenuButton
{
	width: 25px;
	font-weight: bolder;
	font-size: .8em;
	color: white;
	background-color: gray;
	margin-right: 5px;
	border-radius: 5px;
	margin-top: 6%;
	
}

#reactionMenuTop_Left
{
	float: left;
	text-align: center;
	width: 80%;
	height: 15%;
}

#reactionMenuTop_Left button
{
	margin: auto;
	width: 48%;
	font-weight: bold;
	font-size: 1em;
	color: white;
	background-color: gray;
	outline: none;
}

#reactionMenuFavoritesButton
{
	background-color: #1e1e1e;
}

#reactionMenuTop_Right
{
	float: left;
	text-align: right;
	width: 20%;
	height: 15%;
}

#reactionMenuFavorites
{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height:78%;
	overflow: auto;
}

#reactionMenuAll
{
	display: none;
	position: relative;
	float: left;
	width: 100%;
	height:78%;
	overflow: auto;
}