#settings h3
{
	font-size: 1.5em;
}

#settings
{
	display: none;
	position: fixed;
	background: rgba(79, 79, 79, 0.85);
	border-radius: 5px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	overflow: auto;
	height: 70%;
	margin-top: 0px;
	z-index: 100;
}

#settings a
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	padding: 5px;
}

#settings input
{
	font-size: 2em;
}

#settings button
{
	padding: 5px;
	font-size: 1.25em;
	margin-bottom: 10px;
}

#toleranceSlider
{
	width: 50%;
	transform: scale(1.5);
}

#lobbySoundsToggle, #youtubeDisabledToggle
{
	margin-top: 0;
	margin-bottom: 20px;
	transform: scale(2.5);
}

#toleranceValue
{
	font-size: 1em;
}
/* Main Classes */
/*
#lobbySoundsToggle:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #FFF;
}

#lobbySoundsToggle:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
  content: "";
  background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
  background-repeat: no-repeat;
  background-position: center;
}

#lobbySoundsToggle:checked:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
}

#lobbySoundsToggle:disabled:after {
  -webkit-filter: opacity(0.4);
}
*/